node_modules/
dist/
build/
out/
.cache/
.parcel-cache/
.webpack/
.turbo/
*.tsbuildinfo
.env
.env.local
.env.*.local
!.env.example
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.nyc_output/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.pem
*.key
*.crt
workbox-*.js
sw.js.map
docs
/.wrangler/